service cloud.firestore {
  match /databases/{database}/documents {
    match /{rooms=**} {
      allow read;
    }

    match /rooms/{roomName} {
    	allow create: if exists(/databases/$(database)/documents/rooms/$(roomName)) == false;
    }
  }
}
